<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand"></a>
        <form class="d-flex">
            <a class="social-buttons btn" href="https://www.instagram.com/c137anderson" target="_blank">
                <img src="https://img.shields.io/badge/Instagram-%23E4405F.svg?logo=Instagram&amp;logoColor=white"
                    alt="Instagram">
            </a>
            <a class="social-buttons btn" href="https://www.linkedin.com/in/devanderson/" target="_blank">
                <img src="https://img.shields.io/badge/LinkedIn-%230077B5.svg?logo=linkedin&amp;logoColor=white"
                    alt="LinkedIn">
            </a>
            <a class="social-buttons btn" href="https://medium.com/@andersongomes001" target="_blank">
                <img src="https://img.shields.io/badge/Medium-12100E?logo=medium&amp;logoColor=white" alt="Medium">
            </a>
        </form>
    </div>
</nav>