<app-header></app-header>
<main class="px-3 text-center">
    <div class="row justify-content-center pb-5 pt-5 border-bottom border-1 border-white">
        <div class="text-center">
            <img class="rounded-circle img-thumbnail logo-photo" src="assets/images/logo-photo.jpg" width="300px" height="300px">
        </div>
        <h1>Hello, my name is Anderson.</h1>
        <p class="lead">
            I’m a software developer in Brazil. I have more than {{yearsOfExperience}} years of experience in software development.
        </p>
    </div>
    <section class="row justify-content-center pb-5 pt-5 border-bottom border-1 border-white">
        <h2>Coding Platforms Stats</h2>
        <div class="col-md-auto">
            <a href="https://exercism.org/profiles/andersondev" target="_blank">
                <img src="assets/images/exercism.svg" style="height: 200px;width: 200px;">
            </a>
        </div>
        <div class="col-md-auto">
            <a href="https://www.hackerrank.com/profile/andersongomes001" target="_blank">
                <img src="assets/images/hackerrank.svg" style="height: 200px;width: 200px;">
            </a>
        </div>
    </section>
    <section class="row justify-content-center pb-5 pt-5 border-bottom border-1 border-white">
        <h2>Github Stats</h2>
        <div class="col-sm-auto">
            <img class="img-fluid img-custom rounded w-100"
                 src="https://github-readme-stats.vercel.app/api?username=andersongomes001&amp;theme=vue-dark&amp;show_icons=true&amp;hide_border=true&amp;count_private=true&amp;layout=compact&amp;card_width=300" 
                 alt="andersongomes001's Stats">
        </div>
        <div class="col-sm-auto">
            <img class="img-fluid img-custom rounded w-100" 
                 src="https://github-readme-streak-stats.herokuapp.com/?user=andersongomes001&amp;theme=vue-dark&amp;hide_border=true&amp;layout=compact&amp;card_width=300" 
                 alt="andersongomes001's Streak">
        </div>
        <div class="col-sm-auto">
            <img class="img-fluid img-custom rounded w-100" 
                 src="https://github-readme-stats.vercel.app/api/top-langs/?username=andersongomes001&amp;theme=vue-dark&amp;show_icons=true&amp;hide_border=true&amp;layout=compact&amp;card_width=300" 
                 alt="andersongomes001's Top Languages">
        </div>
    </section>
</main>
<app-footer></app-footer>