<section class="max-w-4xl mx-auto px-2 sm:px-6 lg:px-4 pt-20 h-fit min-h-screen">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
    <div
      class="col-span-2 md:col-span-1 bg-[#080808] rounded-md  transition-transform duration-300 hover:scale-110"
    >
      <img
        src="images/Facebook-Linkedin-image-template-3.jpg.webp"
        class="rounded-md mb-4 object-contain w-full h-auto" 
        alt="Imagem de exemplo"
      />
    </div>
    <div class="m-6 col-span-2 md:col-span-1">
      <h3 class="font-bold text-2xl leading-8">Hello,  <span class="font-bold text-2xl leading-8 text-[var(--color-dark)]">Eu sou Anderson</span></h3>
     
      <p>
        Estou trabalhando em tempo integral com Angular, TypeScript, java, Spring Boot e PostgreSQL.
      </p>
      <p>
        Eu adoro o desafio de construir algo que outras pessoas vão usar para administrar seus negócios.
      </p>
    </div>
    <div class="mb-8 col-span-2">
      <h2 class="font-bold text-2xl leading-8">
        Minhas experiências incluem.
      </h2>
      <div>
        <app-button-tooltip [name]="experience.name" [icon_src]="experience.icon_src" *ngFor="let experience of experiences"></app-button-tooltip>
      </div>
    </div>
  </div>
</section>
