<section
  class="flex justify-center items-center mx-auto max-w-full px-2 pt-20 h-fit md:h-screen"
>
  <div class="w-[512px] h-auto justify-self-center">
    <h1 class="font-bold text-5xl leading-10 tracking-tighter mb-2">
      Olá eu sou Anderson
    </h1>
    <p class="font-bold text-2xl leading-8">
      <span class="text-[var(--color-dark)]">Desenvolvedor back-end.</span>
      <br />
      Estou a cada dia aprendendo e aprimorando minhas habilidades de Frontend,
      back-end, banco de dados, etc.
    </p>
  </div>
</section>
